html, body {
  background-color: gray;
  height: 100%;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#app {
  width: 900px;
}

form, input[type='text'] {
  width: 100%;
}